.future-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.future-item {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
    flex-wrap: nowrap;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.future-item__title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 10px;

  font-size: 14px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.future-item__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}

.fon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.fon__item {
  display: inline-block;
}
