.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.team-caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  text-align: center;
  display: block;
  margin-bottom: 50px;
}

.team-item {
  width: 270px;
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;

  @media screen and (max-width: 767px) {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    &:nth-child(2n - 1) {
      margin-right: 30px;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team-item__img {
  display: block;
  margin-bottom: 30px;
}

.team-item__member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  display: block;
  margin-bottom: 10px;
}
.team-item__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 16px;
}

.our-team-social {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}
.our-team-social-item:not(:last-child) {
  margin-right: 10px;
}

.our-team-social-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  fill: var(--team-link-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: var(--link-color);
  }
}

.our-team-social-item__icons {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .our-team-social-item__link:focus &,
  .our-team-social-item__link:hover & {
    fill: var(--primary-white-color);
  }
}
