:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --logo-header-color: #000;
  --logo-color: #2196f3;
  --logo-studio-color: #fff;
  --link-color: #2196f3;
  --background-color: #2f303a;
  --primary-white-color: #fff;
  --team-link-color: #afb1b8;
}
